<html>

<head>
    <title>Registration for bookreads</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/styles/css"> -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

    <!-- Problem Here ! -->
    <form action="/home" method="POST">
        <h2>{{text}}</h2>
        <p>Please choose the Type of Search</p>
        <div class="form-group">
            <select name="searchType" class="form-control" id="exampleFormControlSelect1">
              <option>ISBN</option>
              <option>Title</option>
              <option>Author</option>
            </select>
        </div>
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search">
            <button type="submit">Search</button>
        </div>
    </form>
    <div>
        {% if message %}
        <p>{{message}}</p>
        {% endif %} {% if books|length> 0 %}
        <div class="container">
            <h2>Your search results..!</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td> <a href="{{''.join(['/book/isbn=',book.isbn])}}">{{book.isbn}}</a></td>
                        <td> {{ book.title }}</td>
                        <td> {{ book.author }}</td>
                        <td> {{ book.year }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>

    <form>
        <button type="submit" formaction="/logout">Logout</button>
    </form>
</body>

</html>